.footer {
  background: #03050d;
  color: white;
  padding: 60px 0 25px;
  border-top: 1px solid rgba(255, 255, 255, 0.06);
}

.footer-container {
  width: 90%;
  max-width: 1300px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.footer-brand {
  max-width: 450px;
}

.footer-logo {
  text-decoration: none;
  color: white;
  font-size: 25px;
  font-weight: 800;
}

.footer-logo span {
  color: #00e5ff;
}

.footer-brand p {
  color: #686f84;
  font-size: 13px;
  line-height: 1.7;
  margin-top: 15px;
}

.footer-links {
  display: flex;
  gap: 25px;
  align-items: center;
}

.footer-links a {
  color: #858ba0;
  text-decoration: none;
  font-size: 12px;
  transition: 0.3s;
}

.footer-links a:hover {
  color: #00e5ff;
}

.footer-bottom {
  width: 90%;
  max-width: 1300px;
  margin: 50px auto 0;
  padding-top: 20px;
  border-top: 1px solid rgba(255, 255, 255, 0.06);
  display: flex;
  justify-content: space-between;
}

.footer-bottom p,
.footer-bottom a {
  color: #555d72;
  font-size: 11px;
}

.footer-bottom a {
  text-decoration: none;
}

.footer-bottom a:hover {
  color: #00e5ff;
}

@media (max-width: 650px) {
  .footer-container {
    flex-direction: column;
  }

  .footer-links {
    flex-wrap: wrap;
  }

  .footer-bottom {
    flex-direction: column;
    gap: 15px;
  }
}