* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
}

body {
  margin: 0;

  font-family:
    Inter,
    Arial,
    Helvetica,
    sans-serif;

  background: #050814;

  color: white;

  overflow-x: hidden;
}

button,
input,
textarea {
  font-family: inherit;
}

::selection {
  background: #00e5ff;
  color: #050814;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: #050814;
}

::-webkit-scrollbar-thumb {
  background: #1c8fa0;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #00e5ff;
}

section {
  scroll-margin-top: 70px;
}